
AtalayKarahanC\#CodeGenerator/.vs/AtalayKarahanCodeGenerator/FileContentIndex/read.lock
AtalayKarahanC\#CodeGenerator/.vs/AtalayKarahanCodeGenerator/FileContentIndex/018b2be6-11fc-47a9-bd3d-8037c8d48d4a.vsidx
AtalayKarahanC\#CodeGenerator/obj/Debug/net7.0/AtalayKarahanCodeGenerator.assets.cache
AtalayKarahanC\#CodeGenerator/obj/Debug/net7.0/AtalayKarahanCodeGenerator.assets.cache
AtalayKarahanC\#CodeGenerator/obj/project.nuget.cache
AtalayKarahanC\#CodeGenerator/obj/project.assets.json
AtalayKarahanC\#CodeGenerator/obj/Debug/net7.0/AtalayKarahanCodeGenerator.pdb
AtalayKarahanC\#CodeGenerator/obj/Debug/net7.0/AtalayKarahanCodeGenerator.genruntimeconfig.cache
AtalayKarahanC\#CodeGenerator/obj/Debug/net7.0/AtalayKarahanCodeGenerator.GeneratedMSBuildEditorConfig.editorconfig
AtalayKarahanC\#CodeGenerator/obj/Debug/net7.0/AtalayKarahanCodeGenerator.dll
AtalayKarahanC\#CodeGenerator/obj/Debug/net7.0/AtalayKarahanCodeGenerator.csproj.FileListAbsolute.txt
AtalayKarahanC\#CodeGenerator/obj/Debug/net7.0/AtalayKarahanCodeGenerator.assets.cache
AtalayKarahanC\#CodeGenerator/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
AtalayKarahanC\#CodeGenerator/obj/project.nuget.cache
*.cache
AtalayKarahanC\#CodeGenerator/obj/project.nuget.cache
AtalayKarahanC\#CodeGenerator/bin/Debug/net7.0/AtalayKarahanCodeGenerator.pdb
AtalayKarahanC\#CodeGenerator/.vs/AtalayKarahanCodeGenerator/DesignTimeBuild/.dtbcache.v2
AtalayKarahanC\#CodeGenerator/obj/Debug/net7.0/AtalayKarahanCodeGenerator.dll
AtalayKarahanC\#CodeGenerator/obj/Debug/net7.0/AtalayKarahanCodeGenerator.pdb
AtalayKarahanC\#CodeGenerator/.vs/AtalayKarahanCodeGenerator/FileContentIndex/3725fefe-468f-43fe-8e84-162e6c742ec4.vsidx
AtalayKarahanC\#CodeGenerator/.vs/AtalayKarahanCodeGenerator/FileContentIndex/4e5d96bc-2542-407d-92ba-f34887324fe9.vsidx
AtalayKarahanC\#CodeGenerator/.vs/AtalayKarahanCodeGenerator/v17/.suo
AtalayKarahanC\#CodeGenerator/bin/Debug/net7.0/AtalayKarahanCodeGenerator.dll
AtalayKarahanC\#CodeGenerator/bin/Debug/net7.0/AtalayKarahanCodeGenerator.pdb
AtalayKarahanC\#CodeGenerator/bin/Debug/net7.0/Template/template.cs
