
AtalayKarahanC\#CodeGenerator/.vs/AtalayKarahanCodeGenerator/FileContentIndex/read.lock
AtalayKarahanC\#CodeGenerator/.vs/AtalayKarahanCodeGenerator/FileContentIndex/018b2be6-11fc-47a9-bd3d-8037c8d48d4a.vsidx
AtalayKarahanC\#CodeGenerator/obj/Debug/net7.0/AtalayKarahanCodeGenerator.assets.cache
AtalayKarahanC\#CodeGenerator/obj/Debug/net7.0/AtalayKarahanCodeGenerator.assets.cache
AtalayKarahanC\#CodeGenerator/obj/project.nuget.cache
AtalayKarahanC\#CodeGenerator/obj/project.assets.json
AtalayKarahanC\#CodeGenerator/obj/Debug/net7.0/AtalayKarahanCodeGenerator.pdb
AtalayKarahanC\#CodeGenerator/obj/Debug/net7.0/AtalayKarahanCodeGenerator.genruntimeconfig.cache
AtalayKarahanC\#CodeGenerator/obj/Debug/net7.0/AtalayKarahanCodeGenerator.GeneratedMSBuildEditorConfig.editorconfig
AtalayKarahanC\#CodeGenerator/obj/Debug/net7.0/AtalayKarahanCodeGenerator.dll
AtalayKarahanC\#CodeGenerator/obj/Debug/net7.0/AtalayKarahanCodeGenerator.csproj.FileListAbsolute.txt
AtalayKarahanC\#CodeGenerator/obj/Debug/net7.0/AtalayKarahanCodeGenerator.assets.cache
AtalayKarahanC\#CodeGenerator/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
AtalayKarahanC\#CodeGenerator/obj/project.nuget.cache
*.cache
AtalayKarahanC\#CodeGenerator/obj/project.nuget.cache
AtalayKarahanC\#CodeGenerator/bin/Debug/net7.0/AtalayKarahanCodeGenerator.pdb
